/mysql/is_initialized
/mysql/dbdata/
/express_standard/node_modules/
/*_dc_build.log
/.idea/
/.agents/
/.codex/
/express_typescript/dist/
/express_typescript/node_modules/
/fastify_typescript/dist/
/fastify_typescript/node_modules/
